@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
  font-family: "Poppins", sans-serif;
}
html {
  @apply w-screen h-screen;
}

body {
  @apply m-0 p-0 poppins box-content;
  @apply w-full h-full overflow-hidden;
}
#root {
  @apply w-full h-full;
}

.gradeTwo {
  background: linear-gradient(290deg, transparent 0%, #5343cd),
    linear-gradient(120deg, #4468cc9a 60%, #5343cd),
    linear-gradient(180deg, transparent 10%, #4468cc),
    radial-gradient(ellipse at bottom left, #5343cd 20%, transparent 70%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.flex-center {
  @apply flex items-center justify-center;
}

.flex-row-btwen {
  @apply flex items-center justify-between;
}
svg {
  @apply w-full h-full;
}
.iconoHeader {
  @apply w-6 h-6 block;
}
